# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
# Secrets auto-loader

# {{ if ne .osType "darwin" -}}
if test -f ~/.config/op/service-account-token
    set -gx OP_SERVICE_ACCOUNT_TOKEN (cat ~/.config/op/service-account-token | string trim)
end
# {{ end -}}

if test -f ~/.config/secrets/env.fish
    source ~/.config/secrets/env.fish
end

set -x HOMEBREW_GITHUB_API_TOKEN $GITHUB_TOKEN
