{{- $osType := "linux" -}}
{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $osType = "darwin" -}}
{{- end -}}

[data]
  osType = {{ $osType | quote }}
  hostname = {{ $hostname | quote }}

[onepassword]
  command = "op"
  prompt = false
