{{- $osType := "linux" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $profile := "default" -}}
{{- $bridge := eq .chezmoi.hostname "tailscale-bridge" -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $osType = "darwin" -}}
{{-   $profile = promptChoiceOnce . "profile" "Profile (work or personal)" (list "work" "personal") -}}
{{- end -}}

[data]
  osType = {{ $osType | quote }}
  hostname = {{ $hostname | quote }}
  profile = {{ $profile | quote }}
  bridge = {{ $bridge }}

[onepassword]
  command = "op"
  prompt = false
