tap "homebrew/cask"
tap "tw93/tap"
brew "act"
brew "awscli"
brew "bash"
brew "bat"
brew "chezmoi"
brew "cloc"
brew "copilot"
brew "fastfetch"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "htop"
brew "jira-cli"
brew "lazygit"
brew "lxc"
brew "mas"
brew "midnight-commander"
brew "mise"
brew "ripgrep"
brew "rsync"
brew "tmux"
brew "tree"
brew "wget"
brew "tw93/tap/mole"
cask "1password"
cask "1password-cli"
cask "android-studio"
cask "appcleaner"
cask "aws-vpn-client"
cask "codex"
cask "comet"
cask "discord"
cask "docker-desktop"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "fontsmoothingadjuster"
cask "ghostty"
cask "godot"
cask "iina"
cask "itsycal"
cask "mongodb-compass"
cask "obsidian"
cask "postman"
cask "rwts-pdfwriter"
cask "session-manager-plugin"
cask "sf-symbols"
cask "spotify"
cask "steam"
cask "sublime-merge"
cask "tableplus"
cask "tailscale-app"
cask "the-unarchiver"
cask "whatsapp"
cask "zed@preview"
mas "1Password for Safari", id: 1569813296
mas "Amphetamine", id: 937984704
mas "Developer", id: 640199958
mas "Ivory", id: 6444602274
mas "Keynote", id: 409183694
mas "NextDNS", id: 1464122853
mas "Numbers", id: 409203825
mas "Obsidian Web Clipper", id: 6720708363
mas "Pages", id: 409201541
mas "Pixelmator Pro", id: 1289583905
mas "Telegram", id: 747648890
mas "Xcode", id: 497799835
npm "agent-browser"
{{ if eq .profile "work" -}}
brew "railway"
tap "render-oss/render"
brew "render-oss/render/render"
tap "supabase/tap"
brew "supabase/tap/supabase"
{{- end }}
